language: node_js

node_js:
  - 14


before_install:
    - npm i -g npm@6.4.10
  
cache: false
 directories:
    -node_modules
 

  
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

services:
 - mongodb

script:
    -npm test
    -npm run build

